<a href="https://colab.research.google.com/github/jashasmani/DAUP/blob/main/Ex3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

details=pd.read_csv('/content/sample_data/Details.csv')
print(details)

    Roll No.  Age  Weight Branch  Gender  SSC Result  HSC Result  \
0        201   21      78    MBA    Male       86.16       93.60
1        202   21      72    MBA    Male       95.50       86.92
2        203   21      80    MBA    Male       92.50       88.46
3        204   20      75    BCA    Male       82.66       75.38
4        205   20      61    BCA  Female       91.00       79.07
5        206   21      78    MBA    Male       91.00       74.46
6        207   21      72    BCA    Male       89.00       79.53
7        208   22      80    MBA    Male       78.83       78.15
8        209   22      75    BCA    Male       93.67       81.23
9        210   21      80    MBA    Male       93.00       83.53
10       211   20      78    MBA    Male       80.83       82.61
11       212   20      72    MBA    Male       93.66       79.53
12       213   22      80    MBA    Male       81.67       78.16
13       214   21      75    BCA    Male       93.33       75.16
14       215   21      76    BCA    Male       85.33       78.15
15       216   20      58    MBA  Female       83.67       71.85
16       217   22      78    BCA    Male       93.16       73.54
17       218   20      72    MBA    Male       88.66       81.69
18       219   20      80    BCA    Male       91.83       85.08
19       220   21      75    MBA    Male       74.50       73.70
20       221   21      56    MBA  Female       93.17       80.67
21       222   22      75    MBA    Male       76.50         NaN
22       223   22      58    MBA  Female       80.67       76.15
23       224   20      78    BCA    Male       93.33       81.69
24       225   21      72    BCA    Male       83.33       70.76
25       226   21      80    MBA    Male       90.00       75.07
26       227   22      75    BCA    Male       92.50       76.00
27       228   22      76    MBA    Male       75.33       73.23
28       229   21      52    BCA  Female       88.50       80.15
29       230   20      75    MBA    Male       88.50       80.15
30       231   20      62    MBA    Male       75.33       73.23
31       232   22      56    BCA  Female       83.67       71.85
32       233   21      68    MBA    Male       80.83       82.61
33       234   21      62    BCA    Male       78.83       78.15
34       235   20      60    MBA    Male       91.00       74.46

    Diploma Result  Sem 1  Sem 2  Sem 3  Sem 4  Sem 5  Sem 6  Avg SPI   CPI
0              NaN   9.58   9.17   9.40   8.70   9.42   9.42     9.28  9.23
1              NaN   9.53   9.07   9.40   9.04   9.00   8.85     9.15  9.07
2              NaN   9.36   9.53   9.16   8.96   9.00   9.00     9.17  9.03
3              NaN   9.58   9.43   9.52   8.52   8.42   8.96     9.07  8.85
4              NaN   9.25   8.93   9.12   8.48   8.38   8.81     8.83  8.70
5              NaN   9.02   8.83   9.16   8.22   8.79   8.65     8.78  8.70
6              NaN   9.13   8.93   9.40   8.04   8.00   9.04     8.76  8.62
7              NaN   9.40   8.87   9.00   8.37   8.38   8.42     8.74   NaN
8              NaN   8.76   9.07   8.60   8.19   8.38   8.81     8.64  8.49
9              NaN   8.80   8.93   9.12   7.85   8.58   8.42     8.62  8.48
10             NaN   9.11   8.70   8.92   8.15   8.58   8.23     8.62  8.46
11             NaN   8.87   9.27   8.96   8.15   8.38   8.27     8.65  8.43
12             NaN   9.25   9.03   9.16    NaN   8.38   8.65     8.67  8.42
13             NaN   8.25   8.33   7.76   7.96   8.79   9.00     8.35  8.37
14             NaN   8.91   8.93   9.16   8.19   7.58   7.85     8.44  8.20
15             NaN   8.71   9.27   9.20   7.74   7.83   7.85     8.43  8.15
16             NaN   8.60   8.80   9.16   7.48   7.79   8.19     8.34  8.15
17             NaN   9.02   9.17   8.56   7.52   8.17   8.23     8.45  8.11
18             NaN   9.05   8.83   8.96   7.59   7.83   7.81     8.35  8.04
19             NaN   9.40   9.10   9.20   7.00   7.79   8.23     8.45  8.04
20             NaN   8.18   8.07   8.80   7.11   7.58   8.27     8.00  7.93
21            94.2    NaN    NaN   8.44   7.78   7.38   8.04     7.91  7.91
22             NaN   8.64   8.93   8.76   7.30   7.58   7.85     8.18  7.86
23             NaN   8.91   8.60   8.44   7.67   7.54   7.81     8.16  7.86
24             NaN   9.15   8.67   8.76   7.11   7.21   7.85     8.13  7.73
25             NaN   8.09   8.43   8.60   7.30   7.17   7.04     7.77   NaN
26             NaN   8.24   8.13   7.60   7.15   7.17   7.42     7.62  7.33
27             NaN   8.73   8.80   8.56   6.33   6.79   7.12     7.72  7.19
28             NaN   7.05   7.40   7.04   6.63   6.79   7.42     7.06  6.97
29             NaN   7.05   7.40   7.04   6.63   6.79   7.42     7.06  6.97
30             NaN   8.73   8.80   8.56   6.33   6.79   7.12     7.72   NaN
31             NaN   8.71   9.27   9.20   7.74   7.83   7.85     8.43  8.15
32             NaN   9.11   8.70   8.92   8.15   8.58   8.23     8.62  8.46
33             NaN   9.40   8.87   9.00   8.37   8.38   8.42     8.74  8.54
34             NaN   9.02   8.83   9.16   8.22   8.79   8.65     8.78  8.70

In [ ]:
placement= pd.read_csv('/content/sample_data/Placement.csv')
print(placement)

    Roll No. Placed
0        201    Yes
1        202    Yes
2        203     No
3        204     No
4        205     No
5        206    Yes
6        207    Yes
7        208    Yes
8        209    Yes
9        210    Yes
10       211    Yes
11       212    Yes
12       213    Yes
13       214    Yes
14       215    Yes
15       216    Yes
16       217    Yes
17       218     No
18       219     No
19       220    Yes
20       221    Yes
21       222     No
22       223    Yes
23       224    Yes
24       225    Yes
25       226    Yes
26       227     No
27       228    Yes
28       229    Yes
29       230    Yes
30       231    Yes
31       232    Yes
32       233    Yes
33       234    Yes
34       235    Yes

In [ ]:
all = pd.merge(details,placement,on='Roll No.')
print(all)

    Roll No.  Age  Weight Branch  Gender  SSC Result  HSC Result  \
0        201   21      78    MBA    Male       86.16       93.60
1        202   21      72    MBA    Male       95.50       86.92
2        203   21      80    MBA    Male       92.50       88.46
3        204   20      75    BCA    Male       82.66       75.38
4        205   20      61    BCA  Female       91.00       79.07
5        206   21      78    MBA    Male       91.00       74.46
6        207   21      72    BCA    Male       89.00       79.53
7        208   22      80    MBA    Male       78.83       78.15
8        209   22      75    BCA    Male       93.67       81.23
9        210   21      80    MBA    Male       93.00       83.53
10       211   20      78    MBA    Male       80.83       82.61
11       212   20      72    MBA    Male       93.66       79.53
12       213   22      80    MBA    Male       81.67       78.16
13       214   21      75    BCA    Male       93.33       75.16
14       215   21      76    BCA    Male       85.33       78.15
15       216   20      58    MBA  Female       83.67       71.85
16       217   22      78    BCA    Male       93.16       73.54
17       218   20      72    MBA    Male       88.66       81.69
18       219   20      80    BCA    Male       91.83       85.08
19       220   21      75    MBA    Male       74.50       73.70
20       221   21      56    MBA  Female       93.17       80.67
21       222   22      75    MBA    Male       76.50         NaN
22       223   22      58    MBA  Female       80.67       76.15
23       224   20      78    BCA    Male       93.33       81.69
24       225   21      72    BCA    Male       83.33       70.76
25       226   21      80    MBA    Male       90.00       75.07
26       227   22      75    BCA    Male       92.50       76.00
27       228   22      76    MBA    Male       75.33       73.23
28       229   21      52    BCA  Female       88.50       80.15
29       230   20      75    MBA    Male       88.50       80.15
30       231   20      62    MBA    Male       75.33       73.23
31       232   22      56    BCA  Female       83.67       71.85
32       233   21      68    MBA    Male       80.83       82.61
33       234   21      62    BCA    Male       78.83       78.15
34       235   20      60    MBA    Male       91.00       74.46

    Diploma Result  Sem 1  Sem 2  Sem 3  Sem 4  Sem 5  Sem 6  Avg SPI   CPI  \
0              NaN   9.58   9.17   9.40   8.70   9.42   9.42     9.28  9.23
1              NaN   9.53   9.07   9.40   9.04   9.00   8.85     9.15  9.07
2              NaN   9.36   9.53   9.16   8.96   9.00   9.00     9.17  9.03
3              NaN   9.58   9.43   9.52   8.52   8.42   8.96     9.07  8.85
4              NaN   9.25   8.93   9.12   8.48   8.38   8.81     8.83  8.70
5              NaN   9.02   8.83   9.16   8.22   8.79   8.65     8.78  8.70
6              NaN   9.13   8.93   9.40   8.04   8.00   9.04     8.76  8.62
7              NaN   9.40   8.87   9.00   8.37   8.38   8.42     8.74   NaN
8              NaN   8.76   9.07   8.60   8.19   8.38   8.81     8.64  8.49
9              NaN   8.80   8.93   9.12   7.85   8.58   8.42     8.62  8.48
10             NaN   9.11   8.70   8.92   8.15   8.58   8.23     8.62  8.46
11             NaN   8.87   9.27   8.96   8.15   8.38   8.27     8.65  8.43
12             NaN   9.25   9.03   9.16    NaN   8.38   8.65     8.67  8.42
13             NaN   8.25   8.33   7.76   7.96   8.79   9.00     8.35  8.37
14             NaN   8.91   8.93   9.16   8.19   7.58   7.85     8.44  8.20
15             NaN   8.71   9.27   9.20   7.74   7.83   7.85     8.43  8.15
16             NaN   8.60   8.80   9.16   7.48   7.79   8.19     8.34  8.15
17             NaN   9.02   9.17   8.56   7.52   8.17   8.23     8.45  8.11
18             NaN   9.05   8.83   8.96   7.59   7.83   7.81     8.35  8.04
19             NaN   9.40   9.10   9.20   7.00   7.79   8.23     8.45  8.04
20             NaN   8.18   8.07   8.80   7.11   7.58   8.27     8.00  7.93
21            94.2    NaN    NaN   8.44   7.78   7.38   8.04     7.91  7.91
22             NaN   8.64   8.93   8.76   7.30   7.58   7.85     8.18  7.86
23             NaN   8.91   8.60   8.44   7.67   7.54   7.81     8.16  7.86
24             NaN   9.15   8.67   8.76   7.11   7.21   7.85     8.13  7.73
25             NaN   8.09   8.43   8.60   7.30   7.17   7.04     7.77   NaN
26             NaN   8.24   8.13   7.60   7.15   7.17   7.42     7.62  7.33
27             NaN   8.73   8.80   8.56   6.33   6.79   7.12     7.72  7.19
28             NaN   7.05   7.40   7.04   6.63   6.79   7.42     7.06  6.97
29             NaN   7.05   7.40   7.04   6.63   6.79   7.42     7.06  6.97
30             NaN   8.73   8.80   8.56   6.33   6.79   7.12     7.72   NaN
31             NaN   8.71   9.27   9.20   7.74   7.83   7.85     8.43  8.15
32             NaN   9.11   8.70   8.92   8.15   8.58   8.23     8.62  8.46
33             NaN   9.40   8.87   9.00   8.37   8.38   8.42     8.74  8.54
34             NaN   9.02   8.83   9.16   8.22   8.79   8.65     8.78  8.70

   Placed
0     Yes
1     Yes
2      No
3      No
4      No
5     Yes
6     Yes
7     Yes
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13    Yes
14    Yes
15    Yes
16    Yes
17     No
18     No
19    Yes
20    Yes
21     No
22    Yes
23    Yes
24    Yes
25    Yes
26     No
27    Yes
28    Yes
29    Yes
30    Yes
31    Yes
32    Yes
33    Yes
34    Yes

In [ ]:
placement=all[all['Placed']=='Yes'].copy()
placement

,Roll No.,Age,Weight,Branch,Gender,SSC Result,HSC Result,Diploma Result,Sem 1,Sem 2,Sem 3,Sem 4,Sem 5,Sem 6,Avg SPI,CPI,Placed
0,201,21,78,MBA,Male,86.16,93.60,NaN,9.58,9.17,9.40,8.70,9.42,9.42,9.28,9.23,Yes
1,202,21,72,MBA,Male,95.50,86.92,NaN,9.53,9.07,9.40,9.04,9.00,8.85,9.15,9.07,Yes
5,206,21,78,MBA,Male,91.00,74.46,NaN,9.02,8.83,9.16,8.22,8.79,8.65,8.78,8.70,Yes
6,207,21,72,BCA,Male,89.00,79.53,NaN,9.13,8.93,9.40,8.04,8.00,9.04,8.76,8.62,Yes
7,208,22,80,MBA,Male,78.83,78.15,NaN,9.40,8.87,9.00,8.37,8.38,8.42,8.74,NaN,Yes
8,209,22,75,BCA,Male,93.67,81.23,NaN,8.76,9.07,8.60,8.19,8.38,8.81,8.64,8.49,Yes
9,210,21,80,MBA,Male,93.00,83.53,NaN,8.80,8.93,9.12,7.85,8.58,8.42,8.62,8.48,Yes
10,211,20,78,MBA,Male,80.83,82.61,NaN,9.11,8.70,8.92,8.15,8.58,8.23,8.62,8.46,Yes
11,212,20,72,MBA,Male,93.66,79.53,NaN,8.87,9.27,8.96,8.15,8.38,8.27,8.65,8.43,Yes
12,213,22,80,MBA,Male,81.67,78.16,NaN,9.25,9.03,9.16,NaN,8.38,8.65,8.67,8.42,Yes
13,214,21,75,BCA,Male,93.33,75.16,NaN,8.25,8.33,7.76,7.96,8.79,9.00,8.35,8.37,Yes
14,215,21,76,BCA,Male,85.33,78.15,NaN,8.91,8.93,9.16,8.19,7.58,7.85,8.44,8.20,Yes
15,216,20,58,MBA,Female,83.67,71.85,NaN,8.71,9.27,9.20,7.74,7.83,7.85,8.43,8.15,Yes
16,217,22,78,BCA,Male,93.16,73.54,NaN,8.60,8.80,9.16,7.48,7.79,8.19,8.34,8.15,Yes
19,220,21,75,MBA,Male,74.50,73.70,NaN,9.40,9.10,9.20,7.00,7.79,8.23,8.45,8.04,Yes
20,221,21,56,MBA,Female,93.17,80.67,NaN,8.18,8.07,8.80,7.11,7.58,8.27,8.00,7.93,Yes
22,223,22,58,MBA,Female,80.67,76.15,NaN,8.64,8.93,8.76,7.30,7.58,7.85,8.18,7.86,Yes
23,224,20,78,BCA,Male,93.33,81.69,NaN,8.91,8.60,8.44,7.67,7.54,7.81,8.16,7.86,Yes
24,225,21,72,BCA,Male,83.33,70.76,NaN,9.15,8.67,8.76,7.11,7.21,7.85,8.13,7.73,Yes
25,226,21,80,MBA,Male,90.00,75.07,NaN,8.09,8.43,8.60,7.30,7.17,7.04,7.77,NaN,Yes
27,228,22,76,MBA,Male,75.33,73.23,NaN,8.73,8.80,8.56,6.33,6.79,7.12,7.72,7.19,Yes
28,229,21,52,BCA,Female,88.50,80.15,NaN,7.05,7.40,7.04,6.63,6.79,7.42,7.06,6.97,Yes
29,230,20,75,MBA,Male,88.50,80.15,NaN,7.05,7.40,7.04,6.63,6.79,7.42,7.06,6.97,Yes
30,231,20,62,MBA,Male,75.33,73.23,NaN,8.73,8.80,8.56,6.33,6.79,7.12,7.72,NaN,Yes
31,232,22,56,BCA,Female,83.67,71.85,NaN,8.71,9.27,9.20,7.74,7.83,7.85,8.43,8.15,Yes
32,233,21,68,MBA,Male,80.83,82.61,NaN,9.11,8.70,8.92,8.15,8.58,8.23,8.62,8.46,Yes
33,234,21,62,BCA,Male,78.83,78.15,NaN,9.40,8.87,9.00,8.37,8.38,8.42,8.74,8.54,Yes
34,235,20,60,MBA,Male,91.00,74.46,NaN,9.02,8.83,9.16,8.22,8.79,8.65,8.78,8.70,Yes

In [ ]:
import random as rd

salary = []
for i in range(len(placement)):
  cpi=placement.loc[i].at['CPI']
  if cpi>=8:
    salary.append(rd.randint(65000,70000))
  elif cpi >= 7 :
    salary.append(rd.randint(60000,65000))
  else :
    salary.append(rd.randint(55000,60000))

placement.insert(12,"Salary",salary,True)

In [ ]:
placement

,Roll No.,Age,Weight,Branch,Gender,SSC Result,HSC Result,Diploma Result,Sem 1,Sem 2,Sem 3,Sem 4,Salary,Sem 5,Sem 6,Avg SPI,CPI,Placed
0,201,21,78,MBA,Male,86.16,93.60,NaN,9.58,9.17,9.40,8.70,65674,9.42,9.42,9.28,9.23,Yes
1,202,21,72,MBA,Male,95.50,86.92,NaN,9.53,9.07,9.40,9.04,67517,9.00,8.85,9.15,9.07,Yes
2,206,21,78,MBA,Male,91.00,74.46,NaN,9.02,8.83,9.16,8.22,67444,8.79,8.65,8.78,8.70,Yes
3,207,21,72,BCA,Male,89.00,79.53,NaN,9.13,8.93,9.40,8.04,65430,8.00,9.04,8.76,8.62,Yes
4,208,22,80,MBA,Male,78.83,78.15,NaN,9.40,8.87,9.00,8.37,56475,8.38,8.42,8.74,NaN,Yes
5,209,22,75,BCA,Male,93.67,81.23,NaN,8.76,9.07,8.60,8.19,68791,8.38,8.81,8.64,8.49,Yes
6,210,21,80,MBA,Male,93.00,83.53,NaN,8.80,8.93,9.12,7.85,68081,8.58,8.42,8.62,8.48,Yes
7,211,20,78,MBA,Male,80.83,82.61,NaN,9.11,8.70,8.92,8.15,68643,8.58,8.23,8.62,8.46,Yes
8,212,20,72,MBA,Male,93.66,79.53,NaN,8.87,9.27,8.96,8.15,69657,8.38,8.27,8.65,8.43,Yes
9,213,22,80,MBA,Male,81.67,78.16,NaN,9.25,9.03,9.16,NaN,68896,8.38,8.65,8.67,8.42,Yes
10,214,21,75,BCA,Male,93.33,75.16,NaN,8.25,8.33,7.76,7.96,68085,8.79,9.00,8.35,8.37,Yes
11,215,21,76,BCA,Male,85.33,78.15,NaN,8.91,8.93,9.16,8.19,68504,7.58,7.85,8.44,8.20,Yes
12,216,20,58,MBA,Female,83.67,71.85,NaN,8.71,9.27,9.20,7.74,67613,7.83,7.85,8.43,8.15,Yes
13,217,22,78,BCA,Male,93.16,73.54,NaN,8.60,8.80,9.16,7.48,65022,7.79,8.19,8.34,8.15,Yes
14,220,21,75,MBA,Male,74.50,73.70,NaN,9.40,9.10,9.20,7.00,68925,7.79,8.23,8.45,8.04,Yes
15,221,21,56,MBA,Female,93.17,80.67,NaN,8.18,8.07,8.80,7.11,63889,7.58,8.27,8.00,7.93,Yes
16,223,22,58,MBA,Female,80.67,76.15,NaN,8.64,8.93,8.76,7.30,64759,7.58,7.85,8.18,7.86,Yes
17,224,20,78,BCA,Male,93.33,81.69,NaN,8.91,8.60,8.44,7.67,63831,7.54,7.81,8.16,7.86,Yes
18,225,21,72,BCA,Male,83.33,70.76,NaN,9.15,8.67,8.76,7.11,61942,7.21,7.85,8.13,7.73,Yes
19,226,21,80,MBA,Male,90.00,75.07,NaN,8.09,8.43,8.60,7.30,58681,7.17,7.04,7.77,NaN,Yes
20,228,22,76,MBA,Male,75.33,73.23,NaN,8.73,8.80,8.56,6.33,61932,6.79,7.12,7.72,7.19,Yes
21,229,21,52,BCA,Female,88.50,80.15,NaN,7.05,7.40,7.04,6.63,56786,6.79,7.42,7.06,6.97,Yes
22,230,20,75,MBA,Male,88.50,80.15,NaN,7.05,7.40,7.04,6.63,57182,6.79,7.42,7.06,6.97,Yes
23,231,20,62,MBA,Male,75.33,73.23,NaN,8.73,8.80,8.56,6.33,57735,6.79,7.12,7.72,NaN,Yes
24,232,22,56,BCA,Female,83.67,71.85,NaN,8.71,9.27,9.20,7.74,65583,7.83,7.85,8.43,8.15,Yes
25,233,21,68,MBA,Male,80.83,82.61,NaN,9.11,8.70,8.92,8.15,69891,8.58,8.23,8.62,8.46,Yes
26,234,21,62,BCA,Male,78.83,78.15,NaN,9.40,8.87,9.00,8.37,65917,8.38,8.42,8.74,8.54,Yes
27,235,20,60,MBA,Male,91.00,74.46,NaN,9.02,8.83,9.16,8.22,67803,8.79,8.65,8.78,8.70,Yes

In [ ]:
placement['CPI']=placement['CPI'].fillna(0)
avg=placement['CPI'].mean()
placement['CPI']=placement['CPI'].replace(to_replace=0,value=avg)
placement

,Roll No.,Age,Weight,Branch,Gender,SSC Result,HSC Result,Diploma Result,Sem 1,Sem 2,Sem 3,Sem 4,Salary,Sem 5,Sem 6,Avg SPI,CPI,Placed
0,201,21,78,MBA,Male,86.16,93.60,NaN,9.58,9.17,9.40,8.70,65674,9.42,9.42,9.28,9.2300,Yes
1,202,21,72,MBA,Male,95.50,86.92,NaN,9.53,9.07,9.40,9.04,67517,9.00,8.85,9.15,9.0700,Yes
2,206,21,78,MBA,Male,91.00,74.46,NaN,9.02,8.83,9.16,8.22,67444,8.79,8.65,8.78,8.7000,Yes
3,207,21,72,BCA,Male,89.00,79.53,NaN,9.13,8.93,9.40,8.04,65430,8.00,9.04,8.76,8.6200,Yes
4,208,22,80,MBA,Male,78.83,78.15,NaN,9.40,8.87,9.00,8.37,56475,8.38,8.42,8.74,7.3275,Yes
5,209,22,75,BCA,Male,93.67,81.23,NaN,8.76,9.07,8.60,8.19,68791,8.38,8.81,8.64,8.4900,Yes
6,210,21,80,MBA,Male,93.00,83.53,NaN,8.80,8.93,9.12,7.85,68081,8.58,8.42,8.62,8.4800,Yes
7,211,20,78,MBA,Male,80.83,82.61,NaN,9.11,8.70,8.92,8.15,68643,8.58,8.23,8.62,8.4600,Yes
8,212,20,72,MBA,Male,93.66,79.53,NaN,8.87,9.27,8.96,8.15,69657,8.38,8.27,8.65,8.4300,Yes
9,213,22,80,MBA,Male,81.67,78.16,NaN,9.25,9.03,9.16,NaN,68896,8.38,8.65,8.67,8.4200,Yes
10,214,21,75,BCA,Male,93.33,75.16,NaN,8.25,8.33,7.76,7.96,68085,8.79,9.00,8.35,8.3700,Yes
11,215,21,76,BCA,Male,85.33,78.15,NaN,8.91,8.93,9.16,8.19,68504,7.58,7.85,8.44,8.2000,Yes
12,216,20,58,MBA,Female,83.67,71.85,NaN,8.71,9.27,9.20,7.74,67613,7.83,7.85,8.43,8.1500,Yes
13,217,22,78,BCA,Male,93.16,73.54,NaN,8.60,8.80,9.16,7.48,65022,7.79,8.19,8.34,8.1500,Yes
14,220,21,75,MBA,Male,74.50,73.70,NaN,9.40,9.10,9.20,7.00,68925,7.79,8.23,8.45,8.0400,Yes
15,221,21,56,MBA,Female,93.17,80.67,NaN,8.18,8.07,8.80,7.11,63889,7.58,8.27,8.00,7.9300,Yes
16,223,22,58,MBA,Female,80.67,76.15,NaN,8.64,8.93,8.76,7.30,64759,7.58,7.85,8.18,7.8600,Yes
17,224,20,78,BCA,Male,93.33,81.69,NaN,8.91,8.60,8.44,7.67,63831,7.54,7.81,8.16,7.8600,Yes
18,225,21,72,BCA,Male,83.33,70.76,NaN,9.15,8.67,8.76,7.11,61942,7.21,7.85,8.13,7.7300,Yes
19,226,21,80,MBA,Male,90.00,75.07,NaN,8.09,8.43,8.60,7.30,58681,7.17,7.04,7.77,7.3275,Yes
20,228,22,76,MBA,Male,75.33,73.23,NaN,8.73,8.80,8.56,6.33,61932,6.79,7.12,7.72,7.1900,Yes
21,229,21,52,BCA,Female,88.50,80.15,NaN,7.05,7.40,7.04,6.63,56786,6.79,7.42,7.06,6.9700,Yes
22,230,20,75,MBA,Male,88.50,80.15,NaN,7.05,7.40,7.04,6.63,57182,6.79,7.42,7.06,6.9700,Yes
23,231,20,62,MBA,Male,75.33,73.23,NaN,8.73,8.80,8.56,6.33,57735,6.79,7.12,7.72,7.3275,Yes
24,232,22,56,BCA,Female,83.67,71.85,NaN,8.71,9.27,9.20,7.74,65583,7.83,7.85,8.43,8.1500,Yes
25,233,21,68,MBA,Male,80.83,82.61,NaN,9.11,8.70,8.92,8.15,69891,8.58,8.23,8.62,8.4600,Yes
26,234,21,62,BCA,Male,78.83,78.15,NaN,9.40,8.87,9.00,8.37,65917,8.38,8.42,8.74,8.5400,Yes
27,235,20,60,MBA,Male,91.00,74.46,NaN,9.02,8.83,9.16,8.22,67803,8.79,8.65,8.78,8.7000,Yes

In [ ]:
from datetime import datetime

BirthYear=datetime.now().year-placement['Age']
placement.insert(15,'BirthYear',BirthYear,True)
placement

,Roll No.,Age,Weight,Branch,Gender,SSC Result,HSC Result,Diploma Result,Sem 1,Sem 2,Sem 3,Sem 4,Salary,Sem 5,Sem 6,BirthYear,Avg SPI,CPI,Placed
0,201,21,78,MBA,Male,86.16,93.60,NaN,9.58,9.17,9.40,8.70,65674,9.42,9.42,2003,9.28,9.2300,Yes
1,202,21,72,MBA,Male,95.50,86.92,NaN,9.53,9.07,9.40,9.04,67517,9.00,8.85,2003,9.15,9.0700,Yes
2,206,21,78,MBA,Male,91.00,74.46,NaN,9.02,8.83,9.16,8.22,67444,8.79,8.65,2003,8.78,8.7000,Yes
3,207,21,72,BCA,Male,89.00,79.53,NaN,9.13,8.93,9.40,8.04,65430,8.00,9.04,2003,8.76,8.6200,Yes
4,208,22,80,MBA,Male,78.83,78.15,NaN,9.40,8.87,9.00,8.37,56475,8.38,8.42,2002,8.74,7.3275,Yes
5,209,22,75,BCA,Male,93.67,81.23,NaN,8.76,9.07,8.60,8.19,68791,8.38,8.81,2002,8.64,8.4900,Yes
6,210,21,80,MBA,Male,93.00,83.53,NaN,8.80,8.93,9.12,7.85,68081,8.58,8.42,2003,8.62,8.4800,Yes
7,211,20,78,MBA,Male,80.83,82.61,NaN,9.11,8.70,8.92,8.15,68643,8.58,8.23,2004,8.62,8.4600,Yes
8,212,20,72,MBA,Male,93.66,79.53,NaN,8.87,9.27,8.96,8.15,69657,8.38,8.27,2004,8.65,8.4300,Yes
9,213,22,80,MBA,Male,81.67,78.16,NaN,9.25,9.03,9.16,NaN,68896,8.38,8.65,2002,8.67,8.4200,Yes
10,214,21,75,BCA,Male,93.33,75.16,NaN,8.25,8.33,7.76,7.96,68085,8.79,9.00,2003,8.35,8.3700,Yes
11,215,21,76,BCA,Male,85.33,78.15,NaN,8.91,8.93,9.16,8.19,68504,7.58,7.85,2003,8.44,8.2000,Yes
12,216,20,58,MBA,Female,83.67,71.85,NaN,8.71,9.27,9.20,7.74,67613,7.83,7.85,2004,8.43,8.1500,Yes
13,217,22,78,BCA,Male,93.16,73.54,NaN,8.60,8.80,9.16,7.48,65022,7.79,8.19,2002,8.34,8.1500,Yes
14,220,21,75,MBA,Male,74.50,73.70,NaN,9.40,9.10,9.20,7.00,68925,7.79,8.23,2003,8.45,8.0400,Yes
15,221,21,56,MBA,Female,93.17,80.67,NaN,8.18,8.07,8.80,7.11,63889,7.58,8.27,2003,8.00,7.9300,Yes
16,223,22,58,MBA,Female,80.67,76.15,NaN,8.64,8.93,8.76,7.30,64759,7.58,7.85,2002,8.18,7.8600,Yes
17,224,20,78,BCA,Male,93.33,81.69,NaN,8.91,8.60,8.44,7.67,63831,7.54,7.81,2004,8.16,7.8600,Yes
18,225,21,72,BCA,Male,83.33,70.76,NaN,9.15,8.67,8.76,7.11,61942,7.21,7.85,2003,8.13,7.7300,Yes
19,226,21,80,MBA,Male,90.00,75.07,NaN,8.09,8.43,8.60,7.30,58681,7.17,7.04,2003,7.77,7.3275,Yes
20,228,22,76,MBA,Male,75.33,73.23,NaN,8.73,8.80,8.56,6.33,61932,6.79,7.12,2002,7.72,7.1900,Yes
21,229,21,52,BCA,Female,88.50,80.15,NaN,7.05,7.40,7.04,6.63,56786,6.79,7.42,2003,7.06,6.9700,Yes
22,230,20,75,MBA,Male,88.50,80.15,NaN,7.05,7.40,7.04,6.63,57182,6.79,7.42,2004,7.06,6.9700,Yes
23,231,20,62,MBA,Male,75.33,73.23,NaN,8.73,8.80,8.56,6.33,57735,6.79,7.12,2004,7.72,7.3275,Yes
24,232,22,56,BCA,Female,83.67,71.85,NaN,8.71,9.27,9.20,7.74,65583,7.83,7.85,2002,8.43,8.1500,Yes
25,233,21,68,MBA,Male,80.83,82.61,NaN,9.11,8.70,8.92,8.15,69891,8.58,8.23,2003,8.62,8.4600,Yes
26,234,21,62,BCA,Male,78.83,78.15,NaN,9.40,8.87,9.00,8.37,65917,8.38,8.42,2003,8.74,8.5400,Yes
27,235,20,60,MBA,Male,91.00,74.46,NaN,9.02,8.83,9.16,8.22,67803,8.79,8.65,2004,8.78,8.7000,Yes

In [ ]:
gp=placement.groupby('Branch')
print(gp.get_group('BCA'))

    Roll No.  Age  Weight Branch  Gender  SSC Result  HSC Result  \
3        207   21      72    BCA    Male       89.00       79.53
5        209   22      75    BCA    Male       93.67       81.23
10       214   21      75    BCA    Male       93.33       75.16
11       215   21      76    BCA    Male       85.33       78.15
13       217   22      78    BCA    Male       93.16       73.54
17       224   20      78    BCA    Male       93.33       81.69
18       225   21      72    BCA    Male       83.33       70.76
21       229   21      52    BCA  Female       88.50       80.15
24       232   22      56    BCA  Female       83.67       71.85
26       234   21      62    BCA    Male       78.83       78.15

    Diploma Result  Sem 1  Sem 2  Sem 3  Sem 4  Salary  Sem 5  Sem 6  \
3              NaN   9.13   8.93   9.40   8.04   65430   8.00   9.04
5              NaN   8.76   9.07   8.60   8.19   68791   8.38   8.81
10             NaN   8.25   8.33   7.76   7.96   68085   8.79   9.00
11             NaN   8.91   8.93   9.16   8.19   68504   7.58   7.85
13             NaN   8.60   8.80   9.16   7.48   65022   7.79   8.19
17             NaN   8.91   8.60   8.44   7.67   63831   7.54   7.81
18             NaN   9.15   8.67   8.76   7.11   61942   7.21   7.85
21             NaN   7.05   7.40   7.04   6.63   56786   6.79   7.42
24             NaN   8.71   9.27   9.20   7.74   65583   7.83   7.85
26             NaN   9.40   8.87   9.00   8.37   65917   8.38   8.42

    BirthYear  Avg SPI   CPI Placed
3        2003     8.76  8.62    Yes
5        2002     8.64  8.49    Yes
10       2003     8.35  8.37    Yes
11       2003     8.44  8.20    Yes
13       2002     8.34  8.15    Yes
17       2004     8.16  7.86    Yes
18       2003     8.13  7.73    Yes
21       2003     7.06  6.97    Yes
24       2002     8.43  8.15    Yes
26       2003     8.74  8.54    Yes